<h3>How much money do you want to lose... I mean, bet?</h3>
<h4>Max bet is $<%= session[:player_pot].to_i %></h4>
  <form action='/bet' method='post'>
  <input type="text" name="bet_amount" />
  <br/>
  <input type="submit" value="Bet" class="btn btn-large btn-inverse" />
</form>
