<div class='align-center'>
  <img class="logo" src='/images/logo.png'/>
  <a href='/new_player' class='btn btn-large btn-inverse' style="position:absolute; top:70%; right:40%">Let's play Blackjack!</a>
</div>