<h3>I'm Jack Black and I'll be your dealer.
  <br>
  <img class='small-image' alt='' src='/images/Jack black suit.png' />
  <br>
  What's your name, mister?
</h3>
<form action="/new_player" method="post">
  <input type="text" name="player_name"/>
  <br/>
  <input type="submit" class="btn btn-large btn-inverse" name="submit1" value="Let's play!"/>
</form>
