body{
    background: url('/images/Jack_Black.jpg');
    background-size: 85%;
    background-repeat:no-repeat;
    color:#cf0000;
}

form#hit_form {
  float: left;
  margin-right: 10px;
}

form#stay_form {
  float: left;
}

img.card_image {
  margin: 0px 5px 5px 0px;
    height: 9em;
}

img.logo {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 18%;
    right: 24%;
    opacity:0.9;
}

.anch{
    text-align:center;
    vertical-align:top;
    line-height:100px;
}